.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.development
.env.test
.env.production
openapi.yaml
.spectral.yaml
.spectral.json
.spectral-report.json
node_modules